.header{
    background:#2980b9;
    color: #2980b9;
    display:flex;
    list-style: none;
    height: 30px;
}
.header a{
    color: antiquewhite;
    text-decoration: none;
}
.header ol{
    display: flex;
    height: 30px;
}
.header ol li{
    height: 30px;
    
}
.header a{
    display: fleX;
    align-items: center;
    height: 30px;
    padding: 0 10px;

}
figure{
    margin: 0;
    padding: 0;
    list-style: none;
}
body
{
    font-family: 'Source Sans Pro','Times New Roman', Arial, Helvetica, sans-serif;
    margin: 0px;
}
h1,
h2,
h3,
h4,
h5,
h6
{
    font-family: 'Fjalla One', sans-serif;
    font-weight: 500;
    margin: 0px;
}

h1{
    
    font-size: 40px;
    line-height: 150%; 
    letter-spacing: -.2px;
    margin:0; 
}
h1 strong{
    color: black;
}
.description{
    background: #95a5a6;
    padding: 20px;
}
.portfolio{
    background-image: url('imagenes/background.png');
}
.certificate{
    border-radius: 10px;
    padding: 20px;
    margin: 0px 150px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.certificate_imageContainer{
    width: 400px;
    background: #95a5a6;
    margin: 10px;
    border-radius: 5px;
    padding: 10px;
}
.hero{
    height: 300;
    background-image: url('imagenes/Udo_logo.png');
    background-color: #056fff;
    background-size: 200px 200px;  
    background-repeat: no-repeat;
    background-position-x: right;
    padding-bottom: 20px;
    
}
.menu_A{
    margin:0px 0px 0px 0px;
}
.contact{
    background-color: #056fff;
    color: white;
    height: 150px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.social-link.github {
    background-image: url('imagenes/github.svg');
}
.social-link {
    display: inline-block;
    width: 50px;
    height: 50px;
    margin: 0 50px;
    background-size: 50px 50px;
}
.footer{
    background: #95a5a6;
    height: 20px;
    margin: 0 auto;
    padding: 0px;
}