body {
    position: relative;
    margin-top: 80px;
}
nav{
    background: linear-gradient(to right, #0c1b33, #00cc88);
}
nav .logoConjunto{
    display: flex;
    align-items: center;
    
}
nav .logo{
    height: 4rem;
    margin-left: 1rem;
    margin-right: 1rem;
}
nav img{
    /* height: 64px; */
    width: 120px;
    padding-left: 10px;
}
.navbar-nav li a {
    color: white;
  }
.navbar-brand{
    color: white;
}

#navbar .navbar-nav{
    margin-left: auto;
}
#presentacion .carousel-inner img {
    max-height: 70vh;
    /* width: 100vh; */
}
#carousel {
    position: relative;
}
#carousel .overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    size: 2re;
}
#carousel .overlay strong{
    color: #1df8af;
}
#carousel .overlay .container,
#carousel .overlay .row {
  height: 100%;
}
#sobre-mi{
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
    background-color: #0c1b33;
    color: white;
}
#sobre-mi p{
    text-align: justify;
}
#sobre-mi img{
    height: 64px;
    width: 64px;
}
#proyecto{
    background-color: #1a2845;
    padding-top: 1.5rem;
    color: white;
    scroll-padding-bottom: 100px;
}
#proyecto .row .col .card{
    background-color: #0c1b33;
    height: 25rem;
    width: 20rem;
    margin: 0 auto;
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
    border-radius: 1.5rem; 
    text-align: center;
}
#proyecto .row .col .card a{
    text-decoration: none;
    color: white;
}
#proyecto .row .col .card a :hover{ 
    opacity: 0.5;
}
#proyecto .row .col .card img{
    padding: 0.5rem;
    border-radius: 1.5rem;
}
#proyecto col{
    border-width: 10px;
}
#proyecto img{
    height: 185px;
    width: 318px;
}
#certificado{
    background-color: #1a2845;
}
#certificado img{
    height: 223px;
    width: 288px;
}
#certificado button{
    background-color: #068158;
    border-color: #068158;
    border-radius: 1.5rem;
}
#certificado button:hover{
    opacity: 0.5;
}
#buttonCollapse{
    padding-bottom: 1.5rem;
}
#collapse{
    background-color: #068158;
}
#collapse .col{
    text-align: center;
}
#collapse img{
    border-radius: 1rem;
    width: 18rem;
    margin: 0 auto;
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
}
#collapse img:hover{
    opacity: 0.5;
}
.icon {
    width: 5rem;
}
.icon-container{
    text-align: center;
}
footer{
    height: 6rem;
    background: linear-gradient(to right, #00cc88, #0c1b33 );
}
footer h2{
    color: white;
}
footer img{
    width: 64px;
    height: 64px;
}
footer img:hover{
    opacity: 0.5;
}
footer .container-fluid,
footer .row{
    height: 100%;
}
footer .name{
    height: 1.5rem;
}
